body {
    width: 70%;
    margin: auto;
}
h1 {
    font-size: 32px;
}
h1, h2, h3 {
    font-family: Arial;
    margin-top: 1.5em;
}

table {
    border: 1px;
}

table, th, td, caption {
    border: 1px solid black
}

figure {
    float: right;
}
